Makefile
Makefile.*
.make.cache
.qmake.cache
moc_*.cpp
qrc_*.cpp
*.o
*.moc
*.so
*.user*
*.bak
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.exp
*.obj
*.a
*.intermediate.manifest
*.Debug
*.Release
*.xcodeproj
*.sln
*.suo
*.vcproj
*.vcxproj
*.vcxproj.filters
*.opensdf
*.sdf
*.mmp
*.pkg
*.mk
*.loc
*.rss
*.app
.DS_Store
*~
bld.inf
bld.inf.*
qmakepluginstubs/
debug/
release/
/bin/
/lib/
/doc/html
/imports/
/features/*config.prf
/demos/flickr/flickr
/demos/musicplayer/musicplayer
/examples/native/focus/focus
/examples/meego/QmlComponentGallery/QmlComponentGallery
/examples/meego/QmlComponentExtrasGallery/QmlComponentExtrasGallery
/examples/meego/TutorialApplication/TutorialApplication
/examples/symbian/extrasgallery/qmlextrasgallery
/examples/symbian/gallery/qmlgallery
/examples/symbian/scalefm/scalefm
/tests/apicheck/tst_apicheck
/tests/auto/maketestselftest/checktest/checktest
/tests/auto/maketestselftest/dummy_output
/tests/auto/maketestselftest/test/tst_maketestselftest
/tests/auto/maketestselftest/test/tst_maketestselftest.app
/tests/auto/common/busyindicator/tst_quickcomponentsbusyindicator
/tests/auto/common/button/tst_quickcomponentsbutton
/tests/auto/common/checkbox/tst_quickcomponentscheckbox
/tests/auto/common/progressbar/tst_quickcomponentsprogressbar
/tests/auto/common/slider/tst_quickcomponentsslider
/tests/auto/components/qrangemodel/qrangemodel
/tests/auto/meego/api_applicationwindow/tst_quickcomponentsapplicationwindow
/tests/auto/meego/api_busyindicator/tst_quickcomponentsbusyindicator
/tests/auto/meego/api_button/tst_quickcomponentsbutton
/tests/auto/meego/api_buttoncolumn/tst_quickcomponentsbuttoncolumn
/tests/auto/meego/api_buttonrow/tst_quickcomponentsbuttonrow
/tests/auto/meego/api_checkbox/tst_quickcomponentscheckbox
/tests/auto/meego/api_dialog/tst_quickcomponentsdialog
/tests/auto/meego/api_multiselectiondialog/tst_quickcomponentsmultiselectiondialog
/tests/auto/meego/api_pagestack/tst_quickcomponentspagestack
/tests/auto/meego/api_progressbar/tst_quickcomponentsprogressbar
/tests/auto/meego/api_querydialog/tst_quickcomponentsquerydialog
/tests/auto/meego/api_radiobutton/tst_quickcomponentsradiobutton
/tests/auto/meego/api_screen/tst_quickcomponentsscreen
/tests/auto/meego/api_scrolldecorator/tst_quickcomponentsscrolldecorator
/tests/auto/meego/api_selectiondialog/tst_quickcomponentsselectiondialog
/tests/auto/meego/api_slider/tst_quickcomponentsslider
/tests/auto/meego/api_tabgroup/tst_quickcomponentstabgroup
/tests/auto/meego/api_textarea/tst_quickcomponentstextarea
/tests/auto/meego/api_textfield/tst_quickcomponentstextfield
/tests/auto/meego/api_toolbar/tst_quickcomponentstoolbar
/tests/auto/meego/api_window/tst_quickcomponentswindow
/tests/auto/meego/mlocalthemedaemonclient/mlocalthemedaemonclient
/tests/auto/meego/mremotethemedaemonclient/mremotethemedaemonclient
/tests/auto/meego/multipleviews/tst_multipleviews
/tests/auto/meego/mwindowstate/mwindowstate
/tests/auto/symbian/applicationwindow/tst_applicationwindow
/tests/auto/symbian/button/tst_symbian_button
/tests/auto/symbian/checkbox/tst_symbian_checkbox
/tests/auto/symbian/declarativeicon/tst_symbian_declarativeicon
/tests/auto/symbian/declarativeimplicitsizeitem/tst_symbian_declarativeimplicitsizeitem
/tests/auto/symbian/declarativescreen/tst_declarativescreen
/tests/auto/symbian/declarativestyle/tst_declarativestyle
/tests/auto/symbian/extras/datepickerdialog/tst_symbian_datepickerdialog
/tests/auto/symbian/extras/infobanner/tst_symbian_infobanner
/tests/auto/symbian/extras/ratingindicator/tst_symbian_ratingindicator
/tests/auto/symbian/extras/sectionscroller/tst_symbian_sectionscroller
/tests/auto/symbian/extras/timepickerdialog/tst_symbian_timepickerdialog
/tests/auto/symbian/extras/tumbler/tst_symbian_tumbler
/tests/auto/symbian/extras/tumblerdialog/tst_symbian_tumblerdialog
/tests/auto/symbian/iconpool/tst_symbian_iconpool
/tests/auto/symbian/imageprovider/tst_symbian_imageprovider
/tests/auto/symbian/indicatorcontainer/tst_symbian_indicatorcontainer
/tests/auto/symbian/listheading/tst_symbian_listheading
/tests/auto/symbian/listitem/tst_symbian_listitem
/tests/auto/symbian/listitemtext/tst_symbian_listitemtext
/tests/auto/symbian/networkindicator/tst_symbian_networkindicator
/tests/auto/symbian/page/tst_symbian_page
/tests/auto/symbian/pagestack/tst_symbian_pagestack
/tests/auto/symbian/popupmanager/tst_popupmanager
/tests/auto/symbian/progressbar/tst_symbian_progressbar
/tests/auto/symbian/querydialog/tst_symbian_querydialog
/tests/auto/symbian/radiobutton/tst_symbian_radiobutton
/tests/auto/symbian/scrollbar/tst_symbian_scrollbar
/tests/auto/symbian/selectionlistitem/tst_symbian_selectionlistitem
/tests/auto/symbian/statusbar/tst_symbian_statusbar
/tests/auto/symbian/switch/tst_symbian_switch
/tests/auto/symbian/tabbar/tst_symbian_tabbar
/tests/auto/symbian/tabbarlayout/tst_symbian_tabbarlayout
/tests/auto/symbian/tabbutton/tst_symbian_tabbutton
/tests/auto/symbian/tabgroup/tst_symbian_tabgroup
/tests/auto/symbian/textarea/tst_symbian_textarea
/tests/auto/symbian/textfield/tst_symbian_textfield
/tests/auto/symbian/toolbar/tst_symbian_toolbar
/tests/auto/symbian/toolbutton/tst_symbian_toolbutton
/tests/auto/symbian/tooltip/tst_symbian_tooltip
/tests/auto/symbian/window/tst_window
/tests/manual/componenttest/componenttest
/tests/manual/performancetest/performancetest
