Makefile
Makefile.*
.qmake.cache
moc_*.cpp
qrc_*.cpp
*.o
*.moc
*.so
*.user*
*.bak
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.exp
*.obj
*.a
*.intermediate.manifest
*~
debug/
release/
/bin/
/lib/
/examples/meego/calculator/calculator
/examples/meego/gallery/gallery
/examples/meego/pages/pages
/examples/meego/quiz/quiz
/examples/meego/widgetgallery/widgetgallery
/tests/auto/api_button/tst_api_button
/tests/auto/api_checkbox/tst_api_checkbox
/tests/auto/api_lineedit/tst_api_lineedit
/tests/auto/api_multilineedit/tst_api_multilineedit
/tests/auto/api_progressbar/tst_api_progressbar
/tests/auto/api_scrolldecorator/tst_api_scrolldecorator
/tests/auto/api_slider/tst_api_slider
/tests/auto/qrangemodel/qrangemodel
