[Desktop Entry]
Name=QMLComponentGallery
GenericName=QMLComponentGallery
Comment=private QMLComponentGallery
Exec=/usr/bin/single-instance /usr/bin/QmlComponentGallery5
Terminal=false
Type=Application
Icon=icon-app-components

