#!/usr/bin/make -f
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_DH_INSTALL_SOURCEDIR = debian/tmp
DEB_MAKE_INSTALL_TARGET = install INSTALL_ROOT=$(DEB_DESTDIR)

DEB_CONFIGURE_NORMAL_ARGS = CONFIG+=meego CONFIG+=contextsubscriber 

# Doesn't generate .postinst and .postrm files
DEB_DH_MAKESHLIBS_ARGS_ALL = -n

clean::
	find . -name "Makefile" -exec rm -rf {} \;
	rm -rf libs
	rm -f .qmake.cache

build/qt-components-examples::
	mkdir -p debian/tmp/usr/share/applications
	cp debian/desktop/*.desktop debian/tmp/usr/share/applications
