@variables
{
param-graphic-size-tiny: 14dp;
param-graphic-size-primary-small: 19dp;
param-graphic-size-primary-medium: 28dp;
param-graphic-size-primary-large: 37.5dp;
param-graphic-size-function: 23.5dp;
param-graphic-size-secondary: 14dp;
param-graphic-size-image-portrait: 44.5dp;
param-graphic-size-image-landscape: 39dp;

param-text-height-primary: 19dp;
param-text-height-secondary: 16.5dp;
param-text-height-tiny: 14dp;
param-text-height-title: 23.5dp;

param-margin-view-bottom: 0dp;
param-margin-view-left: 0dp;
param-margin-view-right: 0dp;
param-margin-view-top: 0dp;
param-margin-gene-top: 9.5dp;
param-margin-gene-bottom: 9.5dp;
param-margin-gene-right: 9.5dp;
param-margin-gene-left: 9.5dp;
param-margin-gene-middle-vertical: 3.5dp;
param-margin-gene-middle-horizontal: 3.5dp;
param-margin-gene-popup: 9.5dp;
param-margin-gene-popup-list: 4.5dp;
param-margin-gene-screen: 9.5dp;
param-margin-indentation: 19dp;
param-margin-form-label-right: 23.5dp;
param-margin-form-label-top: 17.5dp;
param-margin-label: 0dp;
param-margin-gene-center-align: 3.5dp;

param-touch-area-gene-primary-small: 28dp;
param-touch-area-gene-primary-medium: 37.5dp;
param-touch-area-gene-primary-large: 47dp;

param-background-popup-primary: 7dp;
param-background-popup-secondary: 7dp;
param-background-popup-preview: 7dp;
param-background-popup-transparent: 7dp;
param-background-list-main: 7dp;
param-background-list-popup: 7dp;
param-background-grid-main: 7dp;
param-background-grid-popup: 7dp;
param-background-button: 7dp;
param-background-editor: 7dp;
param-background-groupbox: 7dp;
param-background-tumbler: 7dp;
param-background-button-input-itut: 7dp;
param-background-button-input-vkb: 7dp;
param-background-bubble: 10.5dp;

param-widget-scroll-bar-indicative-width: 9.5dp;
param-widget-scroll-bar-interactive-width: 9.5dp;
param-widget-scroll-bar-indicative-minimum-handle: 19dp;
param-widget-scroll-bar-interactive-minimum-handle: 37.5dp;
param-widget-scroll-bar-interactive-key-event-size: 9.5dp;

param-widget-slider-thumb-width: 14dp;
param-widget-chrome-height: 44.5dp;
param-widget-toolbar-height: 42.5dp;
param-widget-progress-bar-height: 14dp;
param-widget-popup-softkey-height: 35.5dp;
param-widget-popup-heading-height: 37.5dp;
param-widget-dialog-width: 234dp;
param-widget-combobox-height: 35.5dp;
param-widget-progress-slider-height: 19dp;

param-zoom-graphic-primary-small: 1;
param-zoom-graphic-secondary: 1;
param-zoom-text-primary: 1;
param-zoom-text-secondary: 1;

param-padding-large: 12;
param-padding-medium: 8;
param-padding-small: 4;

param-toolbar-height-landscape: 46;
param-toolbar-height-portrait: 60;

param-statusbar-height: 26;
param-statusbar-signal-height: 18;
param-statusbar-signal-width: 18;
param-statusbar-signallevel-height: 18;
param-statusbar-signallevel-width: 19;
param-statusbar-batterylevel-height: 18;
param-statusbar-batterylevel-width: 24;
param-statusbar-time-width: 44;
param-statusbar-time-height: 18;
param-statusbar-row-margins: 5;
param-statusbar-row-spacing: 3;

}
